@using example.Models

@model yemekler

<div class="col-lg-3 col-md-6 col-sm-12 col-12 mt-5 px-5">
    <div class="card" style="width: 18rem; border-radius: 5px 5px 25px 25px; box-shadow: -5px 3px 1px;">
        <img src="@Model.imageurl" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.adi</h5>
        </div>
    </div>
</div>