


@{
    ViewBag.Title = "Index";
}





<div style="background-color: rgba(0,0,0, 0.1);">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <img src="~/Content/img/sliderimg4_1600x707.jpg" class="img-fluid" style="filter: blur(4px); -webkit-filter: blur(3px); display: block; margin-left: auto; margin-right: auto; width: 90%;">
                <div class="card-img-overlay p-5">
                    <img src="~/Content/img/logo_mart19_beyaz.png" class="m-5" height="300" width="300" style="margin-left:15% !important;" />
                    <div style="float: right; margin-right: 20% !important; margin-top:10% !important;">
                        <h2>Tokat Belediyesi</h2>
                        <p class="text-center">Sitemize Hoş Geldiniz</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/Content/img/sliderimg5_1600x707.jpg" class="img-fluid" style="filter: blur(4px); -webkit-filter: blur(3px); display: block; margin-left: auto; margin-right: auto; width: 90%;">
                <div class="card-img-overlay p-5">
                    <img src="~/Content/img/logo_mart19_beyaz.png" class="m-5" height="300" width="300" style="margin-left:15% !important;" />
                    <div style="float: right; margin-right: 20% !important; margin-top:10% !important;">
                        <h2>Tokat Belediyesi</h2>
                        <p class="text-center">Sitemize Hoş Geldiniz</p>
                    </div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <img src="~/Content/img/sliderimg6_1600x707.jpg" class="img-fluid" style="filter: blur(4px); -webkit-filter: blur(3px); display: block; margin-left: auto; margin-right: auto; width: 90%;">
                <div class="card-img-overlay p-5">
                    <img src="~/Content/img/logo_mart19_beyaz.png" class="m-5" height="300" width="300" style="margin-left:15% !important;" />
                    <div style="float: right; margin-right: 20% !important; margin-top:10% !important;">
                        <h2>Tokat Belediyesi</h2>
                        <p class="text-center">Sitemize Hoş Geldiniz</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<hr class="hr hr-blurry" />

<figure class="text-center p-3 mb-2 bg-dark bg-gradient text-white">
    <blockquote class="blockquote">
        <p>Tokat (şehir)</p>
    </blockquote>
    <figcaption class="blockquote-footer">
       <cite title="Source Title">Tokat, Tokat ilinin merkez şehridir. Karadeniz Bölgesi'nde yer alan Tokat, kuzeyinde Samsun, kuzeydoğusunda Ordu, güney ve güneydoğusunda Sivas, güneybatısında Yozgat, batısında Amasya ile çevrilidir.</cite>
    </figcaption>
</figure>



<div style="background-color: aliceblue;">
    <hr class="hr hr-blurry" />
    <div class="container">
        <section class="text-center">
            <h2>Tokat İlçeleri - Toplam Nüfusu</h2>
            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <h5 class="text-primary fw-bold mb-3">27.658</h5>
                    <h6 class="fw-normal mb-0">Almus</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <i class="fas fa-layer-group fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">8374+</h5>
                    <h6 class="fw-normal mb-0">Artova</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="fas fa-image fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">8323+</h5>
                    <h6 class="fw-normal mb-0">Başçiftlik</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="fas fa-plug fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">95.611+</h5>
                    <h6 class="fw-normal mb-0">Erbaa</h6>
                </div>
            </div>

            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <h5 class="text-primary fw-bold mb-3">204907+</h5>
                    <h6 class="fw-normal mb-0">Merkez</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <i class="fas fa-layer-group fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">65.308+</h5>
                    <h6 class="fw-normal mb-0">Niksar</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="fas fa-image fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">13.330+</h5>
                    <h6 class="fw-normal mb-0">Pazar</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="fas fa-plug fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">43.870+</h5>
                    <h6 class="fw-normal mb-0">Reşadiye</h6>
                </div>
            </div>

            <hr class="hr hr-blurry" />
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <h5 class="text-primary fw-bold mb-3">7.598+</h5>
                    <h6 class="fw-normal mb-0">Sulusaray</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-5 mb-lg-0 position-relative">
                    <i class="fas fa-layer-group fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">79.604+</h5>
                    <h6 class="fw-normal mb-0">Turhal</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="fas fa-image fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">8969+</h5>
                    <h6 class="fw-normal mb-0">Yeşilyurt</h6>
                    <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                </div>

                <div class="col-lg-3 col-md-6 mb-5 mb-md-0 position-relative">
                    <i class="fas fa-plug fa-3x text-primary mb-4"></i>
                    <h5 class="text-primary fw-bold mb-3">54,297+</h5>
                    <h6 class="fw-normal mb-0">Zile</h6>
                </div>
            </div>

        </section>
    </div>
    <hr class="hr hr-blurry" />
</div>






<div class="container my-5">
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('../../Content/img/saat-kulesi-tokat.jpg');
                  ">
                <div class="card-body text-white">
                    <h5 class="card-title">Tokat Tarihi</h5>
                    <p class="card-text">
                        Tokat, Tokat ilinin merkez şehridir. Karadeniz Bölgesi'nde yer alan Tokat, kuzeyinde Samsun, kuzeydoğusunda Ordu, güney ve güneydoğusunda Sivas, güneybatısında Yozgat, batısında Amasya ile çevrilidir.
                    </p>
                    <a>@Html.ActionLink("Tarihimiz", "Tarihimiz", "Home", new { area = "" }, new { @class = "btn btn-outline-light" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="bg-image card shadow-1-strong"
                 style="
                  background-image: url('../../Content/img/b20 _800 x 600_ Kale Boğazı.jpg');
                  ">
                <div class="card-body text-white">
                    <h5 class="card-title">Tokat Yemekleri</h5>
                    <p class="card-text mb-5">
                        Tokat, Tokat ilinin kendine özgü yemekleri vardır. Karadeniz Bölgesi'nde yer alan Tokat, konumundan dolayı yaprak vb yemek türleri bulunmaktadır .
                    </p>
                    <a>@Html.ActionLink("Yemeklerimiz", "Yemeklerimiz", "Home", new { area = "" }, new { @class = "btn btn-outline-light" })</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="bg-image card shadow-1-strong"
                 style=" background-image: url('../../Content/img/pazar-ballıca.jpg'); ">
                <div class="card-body text-white">
                    <h5 class="card-title">Tokat Fotoğrafları</h5>
                    <p class="card-text">
                        Tokat, Tokat ilinin kendine fotoğrafları vardır. Karadeniz Bölgesi'nde yer alan Tokat, konumundan dolayı güzel doğa manzaraları, kayak merkezleri , mağalar vb yapılar bulunmaktadır.
                    
                    </p>
                    <a>@Html.ActionLink("FotoGaleri", "Foto", "Home", new { area = "" }, new { @class = "btn btn-outline-light" })</a>
                </div>
            </div>
        </div>
    </div>
</div>



