
<style>
    body {
        background-color: lightgray;
    }
</style>


@{
    ViewBag.Title = "Tarihimiz";
}








<div class="py-5">
    <div class="p-5 text-center img-fluid" style="background-image: url(../../Content/img/saat-kulesi-tokat.jpg); display: block; margin-left: auto; margin-right: auto; width: 90%; ">
        <h1 class="mb-3">Tokat'ın Geçmiş Tarihi</h1>
        <p class="lead mb-0"><a href="#tarih" class=" mb-3 text-dark fw-bold">tarihi</a></p>
    </div>
</div>






<figure class="text-center py-3">
    <blockquote class="blockquote" style="color: black;">
        <h3 id="tarih">Tokat Tarihi</h3>
    </blockquote>
</figure>





<hr class="featurette-divider">





<div class="card text-center  shadow-0 py-5 m-5" style="border-radius: 25px 25px 25px 25px; box-shadow: 5px 3px 1px grey; border-color: rgba(0,0,0, 0.6); border-width: 2px; ">
    <div class="row g-0">
        <div class="col-md-7 p-2">
            <div class="card-body">
                <h5 class="card-text">Tokat Tarihi</h5>
                <p class="card-text">
                    M. Ö. 1. yüzyılda küçük Asya fethine gireşen roma imparatorları, batıdan başlayarak, Anadolu'nun iki önemli yerleşme bölgesi olan, Kayseri Kapadokya'sı ile kuzeyde Tokat'ın (COMANA) merkezi olduğu Pontika Kapadokya'sını ele geçirirler. Ancak yörede güçlü bir devlet kuran Pontus kralları MİTHRİDAT' lar Roma'ya şiddetle direnmişlerdir. M.Ö. 47 de, SEZAR orduları ile Zileye gelir. 5 aat süren savaş sonunda Pontus kralı 2. PHARNAKES'i yener. "Geldim, gördüm, yendim." dediği, tarihe mal olan sözcüklede Zile'deki başarısını özetler. Tokat (COMANA), Niksar ( NEOCAESAREA), Sulusaray (SEBASTOPOLİS), Zile(ZELA) M.S. 5. yüzyıla kadar birer Roma eyalet şehri olmuşlardır.
                    4. Yüzyıl sonunda Roma imparatorluğu yıkılır. Doğuda devam eden yeni Bizans imparatorluğu, Roma devlet düzenine sahip çıkar. Ancak genç Roma kültür ve sanatını hiristiyan dini ile yorumlar, kendine özgü, yepyeni bir uygarlığı tüm Anadoluya yayar. 1000 yıl gibi uzun süren Bizans egemenliği, hristiyanlığı Anadolu'da himaye etmiş, kurumlaştırmıştır. Tokat ve Niksar Pontika Kapadokyası'nın piskoposluk merkezleri olmuştur.
                    1071 yılına geldiğimizde, 600 yıldır devam eden Bizans gücünün, Selçuk ve Danışment Türkleri karşısında gerilemeye başladığını görüyoruz.
                    11. yüzyıldan 14. yüzyıl sonuna kadar geçen 300 yıl, Anadolu'da, birçok devletin kaderini belirleyen, karmaşık ve amansız mücadelelerle doludur. Tarihçiler için en bol kaynağında bu devirde yaratıldığını görüyoruz.
                    12. yüzyılda, Bizans imparatorluğu giderek güçlenen Türk-İslam devletleri karşısında çökmeye başlamıştır. Selçuklular doğu ve orta Anadolu'yu, Danişment'ler merkezi Sivas ve Niksar olan kuzey anadolu'nun iç bölgelerini ele geçirirlerken, kutsal topraklara ulaşmak isteyen Haçlı orduları, dört bir yandan Anadolu'ya çıkarlar. Bizans, Selçuk, Danişment, Haçlı çatışmaları derken, arkasından Moğol akınları silindir gibi gelerek, Anadolu'ya girerler. Yöremiz dost ve düşmanın karıştığı tam bir savaş ve güç arenasına döner. Bu arada, Anadolu'da kurulu pek çok küçük hiristiyan krallık ve beylikleri de büyüklerin ayakları altında ölüm-kalım mücadelesi vermektedirler.
                    13. yüzyıl sonuna kadar sürüp giden ve hareketli dönemde, aynı gün el değiştiren kentler, yıkılıp yıkılmış, sabah cami olan yer akşam kilise ertesi sabah tekrar camiye dönüştürülmüştür. Ayaklanmalar, kanlı hanedan ve taht kavgaları, ihanet ve servet çatışmaları ile Anadolu'da yer yerinden oynamıştır.
                </p>
            </div>
        </div>
        <div class="col-md-5">
            <img src="~/Content/img/img4.jpg" height="800" width="600" class="img-fluid rounded-start py-5 px-1" />
        </div>
    </div>

</div>






<div class="card text-center  shadow-0 py-5 m-5" style="border-radius: 25px 25px 25px 25px; box-shadow: -5px 3px 1px grey; border-color: rgba(0,0,0, 0.6); border-width: 2px; ">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="~/Content/img/img4.jpg" height="800" width="600" class="img-fluid rounded-start py-5 px-1" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <p class="card-text">
                    KOMANA  (ANTİK BİZANS)
                    EVDOKSİA, DOKİA (ANTİK BİZANS)
                    DOKAT (ARAP)
                    KAH-CUN (İRAN)
                    DAR ÜN-NUSRET (SELÇUK)
                    SOBARU (MOĞOL)
                    DAR ÜN-NASR (YILDIRIM BEYAZIT,OSMANLI DEVLETİ)
                    TOKAT (OSMANLI VE CUMHURİYET DÖNEMİ)Tokat,uygarlıkların merkezi olan Anadolu' da, zengin doğal kaynakları, jeostratejik konumu nedeni ile, beyliklerin, devletlerin ve imparatorlukların yaşama ve fetih alanı olmuştur. Orta karadeniz dağlarından güneye, Anadolu'nun içlerine doğru, değişik rakımlarda dizi dizi yaylalar, ovalar, bağ ve bahçeler içindeki akarsularıyla, Dünyada benzeri az olan bu cennet İlimiz, canlı ve zengin tarihinin izlerini bugün de yaşatmaktadır.
                    Tokat Merkez olmak üzere, Zile'den Reşadiye'ye, Erbaa ve Niksar'dan Artova'ya kadar, ilçe ve köylere yayılmış sayısız tarihi varlıklarımızın pek çoğu, 5000 yıldan bu yana istilalar, savaşlar, depremler ve tahribatlarla yok olmuş veya yıkılmışlardır. Yer altında kalanlar gün ışığına çıkarılmayı beklerken, günümüze kadar oluşan pek çok anıt eser de yeterince korunamamaktadır. Büyük Atatürk'ün "Misak-ı Milli" diyerek, sınırlarını çizdiği engin tarihi değerlerini araştırmak, ortaya çıkarmak, korumak, yeni kuşaklara ve tüm dünyaya tanıtmak, kültürümüzün, yurt sevgimizin bugünü ve geleceği için milli görevimizdir.
                    Büyük Hitit İmparatorluğu batıdan gelen Balkan kavimleri önünde dağılıp güney doğuya göçerken, Balkan asıllı Frig kavimleri, 500 yıl sürecek uygarlıklarını Anadoluda kurmaya başlarlar. Sonraları. doğudan güçlü Pers, batıdan Büyük İskender istilası Anadoluyu baştan sona aşar. M.Ö. 4. yüzyıla geldiğimizde, bölgenin eski halkı hatti'ler, Hitit'ler, Hurri'ler Mitanni'ler, Frig'ler zaman içinde yeni kavimlerle kaynaşmış, terk ettikleri kentler üzerine, Pers, Helenistik ve Pontus kentleri kurulmaya başlanmıştır. Tokat ilindeki Kelkit, Yeşilırmak ve Çekerek nehirleri boyunca kurulu Hitit ve Frig yerleşim alanları, M.Ö. 2500-400 arasında, yüksek düzeyde sanat ve kültür yaşamına sahip olmuştur.
                    M.Ö. 6. yüzyıl ortalarından, 4. yüzyılın sonuna kadar Pers egemenliğine giren Anadolu'da Tokat ve çevresini yöneten güçlü Satrapları M.Ö. 333 de Büyük İskender'in hızlı ve hırslı istilası ile şaşkına dönen mağrur Pers kralları teslim olurken, Anadolu'da helenistik çağ başlamaktadır. 300 yıl süren ve sanat etkinliklerinin zirveye çıktığı bu dönem daha sonra Roma'ya miras kalacaktır.
                </p>
            </div>
        </div>
    </div>
</div>
